@import '~bootstrap/scss/bootstrap';

.blog-snippet {
  margin: 5% 0;
  padding: 5%;
}

.comment {
  margin: 2% 0;
  padding: 2%;
}

.delete-comment {
  color: red;

  &:hover {
    color: lighten(#ff0000, 30%);
    cursor: pointer;
  }
}
