@import '~bootstrap/scss/bootstrap';

.blog-snippet {
  margin: 5% 0;
  padding: 5%;
}

.comment,
.comment-card {
  margin: 2% 0;
  padding: 2%;
}

.comment-section {
  margin-top: 50px;
}

.delete-comment {
  color: red;

  &:hover {
    color: lighten(#ff0000, 30%);
    cursor: pointer;
  }
}

.add-comment {
  color: blue;

  &:hover {
    color: lighten(#0000ff, 30%);
    cursor: pointer;
  }
}
